
body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 100%;
}

h1 {
  font-family: 'Poppins';
  font-size: 6rem;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  width: 100%;
}

h3 {
  font-size: 2.5rem;
  font-weight: 800;
}

.top-container {
  position: relative;
  height: auto;
  width: 100%;
  padding: 3% 7% 5%;
}

.first-row {
  height: auto;
}

/* HURDLE LOGO */
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 45%;
}

/* TRY IT FREE BUTTON */
.top-button-div {
  text-align: right;
  height: auto;
}

.top-button {
  width: 30%;
  border-radius: 30px;
  box-shadow: 0 0 5px hsl(208, 11%, 55%);
  border: 1px solid hsl(322, 100%, 66%);
}

.top-button a {
  text-decoration: none;
  font-size: 1rem;
  color: hsl(322, 100%, 66%);
}


.second-row {
  margin: 10% auto;
}

.intro {
  margin: 0 auto;
}

.intro p {
  display: inline-block;
  position: relative;
  width: 70%;
  font-size: 1.2rem;
}

.mid-button-div {
  text-align: center;
  padding-top: 2%;
}

.mid-button {
  background-color: hsl(322, 100%, 66%);
  width: 35%;
  border-radius: 50px;
  box-shadow: 0 0 5px hsl(208, 11%, 55%);
}

.mid-button a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
}

.mockups {
  position: relative;
  width: 90%;
}

.features-column div {
  width: 15rem;
  margin: 0 auto;
}

.features-img {
  text-align: left;
}

.big-text {
  font-size: 1.2rem;
  opacity: 0.5;
}


/* SECOND CONTAINER */
.mid-container {
  position: relative;
  width: 100%;
}

.text-column {
  padding-top: 5rem;
}

.image-column {
  text-align: center;
}

.blue-box {
  background-color: hsl(207, 100%, 98%);
  height: 130%;
}

.white-box {
  margin: 6% auto;
}

.box-heading {
  width: 100%;
}

.box-text {
  display: inline-block;
  font-weight: 400;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
}

.box-image {
  display: inline-block;
  width: 70%;
}

.bg-top {
  padding: 0;
  border: none;
}

.bg-bottom {
  padding: 0;
}

.bottom-box {
  display: inline-block;
  position: relative;
  background-color: white;
  text-align: center;
  margin: 20% auto 15%;
}


.bottom-button {
  display: inline-block;
  position: relative;
  background-color: hsl(322, 100%, 66%);
  width: 50%;
  border-radius: 40px;
  height: auto;
  box-shadow: 0 0 5px hsl(208, 11%, 55%)
}

.bottom-button:hover {
  opacity: 0.75;
}

.bottom-button a{
  text-align: center;
  margin: 15px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  display: inline-block;
  height: auto;
}

.bottom-container {
  background-color: hsl(192, 100%, 9%);
  border: none;
}

.bottom-row {
  color: white;
  height: auto;
  position: relative;
  font-size: 0.85rem;
  text-align: left;
}

.bottom-container table {
  width: 70%;
}

.contact-column {
  padding-left: 10%;
  padding-top: 3%;
  margin: 0 auto;
}

.contact-column p {
  width:100%;
}

.tips-column {
  padding-left: 10%;
  padding-top: 3%;
  margin: 0 auto;
}

.tips-column p {
  width:100%;
}

.email-input {
  width: 15rem;
  height: 2rem;
  display: inline;
  text-align: left;
  border-radius: 5px;
  border: none;
}

.subscribe-button {
  font-size: 0.9rem;
  height: 2rem;
  display: inline-block;
  text-align: left;
  background-color: hsl(322, 100%, 66%);
  color: white;
  border-radius: 10px;
  border: none;
  margin-left: 5%;
}

.attribution {
  color: white;
  font-size: 0.6rem;
  text-align: center;
}

.attribution a {
  color: white;
  text-decoration: none;
}


@media (max-width: 990px) {
  .top-container {
    padding-top: 7%;
  }

  .intro p {
    width: 100%;
    font-size: 0.85rem;
  }

  .logo {
    width: 9rem;
  }

  .second-row h2 {
    font-size: 1.7rem;
    width: 100%;
    line-height: 1.5;
  }

  .top-button {
    width: 90%;
    height: 50%;
  }

  .top-button a {
    font-size: 0.8rem;
  }

  .mockups-container {
    padding: 10%;
    margin-top: 20%;
  }

  h1 {
  font-size: 3rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .mid-button-div {
    text-align: center;
  }

  .mid-button {
    width: 12rem;
  }

  .mid-button a {
    font-size: 0.9rem;
    vertical-align: middle;
  }

  .big-text {
    font-size: 0.9rem;
  }

  .features-column div {
    width: 10rem;
    padding-top: 5%;
  }

  .mid-container {
    text-align: center;
  }

  .text-column {
    text-align: center;
  }

  .text-column p {
    font-size: 1rem;
    padding: 3% 5% 5%;
  }

  .image-column img {
    margin-top: 10%;
    width: 90%;
  }

  .bottom-button {
    width: 60%;
  }

  .bottom-button a {
    font-size: 0.85rem;
    margin: 0px 5px 5px;
  }

  .bottom-row {
    font-size: 0.65rem;
  }

  .bottom-container table {
    margin: 0 auto;
    width: 87%;
  }

  .bottom-container {
    font-size: 0.7rem;
  }

  .bottom-logo {
    padding-top: 10%;
    width: 40%;
    margin-left: 8.5%;
  }

  .tips-column {
    padding-top: 10%;
  }

}
